body {
	background-image: url(about.jpg);
	background-repeat: no-repeat;
	background-size: 1300px 750px;
}
body h1{
	
	text-align:center;
	color:#b2bec3;
	padding-top: 100px;
}
body p{
	
	text-align:center;
	color:#b2bec3;
	
}
a {
	text-decoration: none;
	color: red;
}
a:link, a:visited{color: #74b9ff;}
a:hover, a:active{color:#ff7675;}
body ul {
	text-align:center;
	list-style: none;

	
}
body ul li {
	display: inline;
	font-size: 20px;
	margin-right: 30px;

}